<div class="my-dropdown">
    <div>node_modules</div>
    <div class="_list"><button class="_icon-dropdown"></button>src
        <div class="_list"><button class="_icon-dropdown"></button>assets
            <div class="_list"><button class="_icon-dropdown"></button>fonts
                <div>Lato-Black.ttf</div>
                <div>Lato-Bold.ttf</div>
                <div>Lato-Light.ttf</div>
                <div>MaterialIcons-Regular.ttf</div>
                <div>Merriweather-Black.ttf</div>
            </div>
            <div class="_list"><button class="_icon-dropdown"></button>img
                <div>card.png</div>
                <div>logo.svg</div>
                <div>our_client.png</div>
                <div>photo.png</div>
                <div>rectangle.png</div>
            </div>
            <div class="_list"><button class="_icon-dropdown"></button>scss
                <div class="_list"><button class="_icon-dropdown"></button>utils
                    <div>fonts.scss</div>
                    <div>footer.scss</div>
                    <div>header.scss</div>
                    <div>icons.scss</div>
                    <div>my-slider.scss</div>
                    <div>null.scss</div>
                </div>
                <div>main.scss</div>
            </div>
        </div>
        <div class="_list"><button class="_icon-dropdown"></button>views
            <div class="_list"><button class="_icon-dropdown"></button>layouts
                <div>main.pug</div>
                <div>second.pug</div>
            </div>
            <div class="_list"><button class="_icon-dropdown"></button>pages
                <div>index.pug</div>
                <div>task4.pug</div>
            </div>
            <div class="_list"><button class="_icon-dropdown"></button>partials
                <div>dropdown.pug</div>
                <div>footer.pug</div>
                <div>grid.pug</div>
                <div>header.pug</div>
            </div>
        </div>
        <div>index.js</div>
        <div>task4.js</div>
    </div>
    <div class="_list"><button class="_icon-dropdown"></button>webpack
        <div>webpack.base.conf.js</div>
        <div>webpack.dev.conf.js</div>
        <div>webpack.prod.conf.js</div>
    </div>
    <div>.gitignore</div>
    <div>package-lock.json</div>
    <div>package.json</div>
    <div>README.md</div>
</div>