<footer class="footer _image-bg">
    <div class="footer__body _container">
        <div class="footer__info info-footer">
            <div class="info-footer__title">Связь с нами</div>
            <div class="info-footer__description">У вас остались вопросы? Напишите нам - мы ответим<br>в ближайшее время!</div>
            <div class="footer__item-group">
                <div class="info-footer__phone"><div class="_icon-mobile"></div> +7 (111) 222-33-44</div>
                <div class="info-footer__email"><div class="_icon-mail"></div> order@bu-one.ru</div>
            </div>
        </div>
        <form class="footer__form form-footer">
            <div class="footer__item-group">
                <div class="form-footer__item text-field">
                    <label class="text-field__label" for="firstName">Имя</label>
                    <input class="text-field__input" id="firstName" name="firstName" type="text" placeholder="Иван">
                </div>
                <div class="form-footer__item text-field">
                    <label class="text-field__label" for="lastName">Фамилия</label>
                    <input class="text-field__input" id="lastName" name="lastName" type="text" placeholder="Иванов">
                </div>
            </div>
            <div class="form-footer__item text-area">
                <label class="text-area__label" for="message">Сообщение</label>
                <textarea class="text-area__input" id="message" name="message" type="area" placeholder="Ваше сообщение"></textarea>
            </div>
            <button class="form-footer__button button">Отправить сообщение</button>
        </form>
    </div>
</footer>
<div class="signature _container">
    <div>2019 (с) Все права защищены. БухОне.ру</div>
    <div>Разработано: BuhOne</div>
</div>