<div class="_my-grid">
    <div class="_container">
        <div class="_row _g-10">
            <div class="_column _g-10">
                <div class="_row _g-10">
                    <div class="_column _g-10">
                        <div class="grid-item">My-grid item</div>
                    </div>
                    <div class="_column _g-10">
                        <div class="_row _g-10">
                            <div class="_column _g-10">
                                <div class="grid-item">My-grid item</div>
                            </div>
                        </div>
                        <div class="_row _g-10">
                            <div class="_column _g-10">
                                <div class="grid-item">My-grid item</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_row _g-10">
                    <div class="_column _g-10">
                        <div class="_row _g-10">
                            <div class="_column _g-10">
                                <div class="grid-item">My-grid item</div>
                            </div>
                        </div>
                        <div class="_row _g-10">
                            <div class="_column _g-10">
                                <div class="grid-item">My-grid item</div>
                            </div>
                        </div>
                    </div>
                    <div class="_column _g-10">
                        <div class="grid-item">My-grid item</div>
                    </div>
                </div>
            </div>
            <div class="_column _g-10">
                <div class="_row _g-10">
                    <div class="_column _g-10">
                        <div class="grid-item">My-grid item</div>
                    </div>
                </div>
                <div class="_row _g-10">
                    <div class="_column _g-10">
                        <div class="grid-item">My-grid item</div>
                    </div>
                    <div class="_column _g-10">
                        <div class="_row _g-10">
                            <div class="_column _g-10">
                                <div class="grid-item">My-grid item</div>
                            </div>
                        </div>
                        <div class="_row _g-10">
                            <div class="_column _g-10">
                                <div class="grid-item">My-grid item</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_row _g-10">
                    <div class="_column _g-10">
                        <div class="grid-item">My-grid item</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>